# environment
NODE_ENV=development
PORT=3000

# database
DB_URL=postgresql://logistic:dev4logistic@192.168.62.102:5432//DB_DOCUMENT_V2_DEV
DB_HOST= 127.0.0.1
DB_PORT= 3306
DB_USERNAME= root
DB_PASSWORD=''
DB_NAME=DB_DOCUMENT_DEV

# crypto
SECRET_KEY=eyota

# jwt
JWT_EXPIRATION=30d
JWT_REFRESH_EXPIRATION=60d
TOKEN_SECRET=U2FsdGVkX1/hnA2S3l0Evi+whG73WiOrplJA5fcfe2o=
REFRESH_TOKEN_SECRET=U2FsdGVkX18LvuBcY6prEGXDZhDoBa7O0GAUSzTWzdk=